# **Exploratory Data Analisys**

* This notebook aims to enable exploratory data analysis for the collected data. In this EDA, we will focus on getting a better understanding of the data we will use to make investment decisions. It is worth emphasizing the importance of running the preceding notebooks, as they are responsible for data collection that enables the processes contained in this notebook.

## **Initial Setup**

### Install Packages

In [2]:
%pip install pandas -q --no-cahce
%pip install plotly -q --no-cache

Note: you may need to restart the kernel to use updated packages.

### Import libs

In [3]:
import os
import pandas as pd
from pathlib import Path
import plotly.express as px
import plotly.graph_objects as go

### Create a file path default

In [4]:
file_path_book  = str(Path(os.getcwd()).parent/"data/book")

## **Fundamentals**

In [7]:
df_fundamentals_book = pd.read_csv(file_path_book + "/fundamentals_book.csv")
df_fundamentals_book.head(5)

,ticker,long_name,sector,industry,market_cap,enterprise_value,total_revenue,profit_margins,operating_margins,dividend_rate,...,earnings_quarterly_growth,revenue_growth,gross_margins,ebitda_margins,return_on_assets,return_on_equity,gross_profits,earnings_growth_rate,dividend_payout_ratio,roi
0,ABCB4.SA,Banco ABC Brasil S.A.,Financial Services,Banks - Regional,4.342988e+09,1.496796e+10,1.941779e+09,0.41576,0.41515,1.56,...,0.001,0.003,0.00000,0.00000,0.01530,0.15680,1.973086e+09,0.1,155000.000000,0.129729
1,AGRO3.SA,BrasilAgro - Companhia Brasileira de Proprieda...,Consumer Defensive,Farm Products,2.899807e+09,3.364476e+09,1.249437e+09,0.21492,0.16848,3.24,...,6.801,0.671,0.25252,0.21201,0.03839,0.12170,3.155040e+08,680.1,47.640053,0.371362
2,RAIL3.SA,Rumo S.A.,Industrials,Railroads,4.062026e+10,5.618793e+10,1.031746e+10,0.07638,0.30165,0.07,...,3.935,0.121,0.34493,0.43834,0.04252,0.05163,3.146360e+09,393.5,1.677255,0.183624
3,ALPA3.SA,Alpargatas S.A.,Consumer Cyclical,Footwear & Accessories,5.033696e+09,6.280492e+09,4.022153e+09,-0.05671,-0.02786,0.00,...,0.000,-0.127,0.43246,-0.00005,-0.00910,-0.04153,1.968303e+09,0.0,0.000000,0.640420
4,ALPA4.SA,Alpargatas S.A.,Consumer Cyclical,Footwear & Accessories,5.046720e+09,6.098251e+09,4.022153e+09,-0.05671,-0.02786,0.00,...,0.000,-0.127,0.43246,-0.00005,-0.00910,-0.04153,1.968303e+09,0.0,0.000000,0.659558

#### Dataset Infos

In [9]:
df_fundamentals_book.shape

(294, 38)

In [12]:
df_fundamentals_book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   ticker                             294 non-null    object
 1   long_name                          294 non-null    object
 2   sector                             294 non-null    object
 3   industry                           294 non-null    object
 4   market_cap                         294 non-null    float64
 5   enterprise_value                   294 non-null    float64
 6   total_revenue                      294 non-null    float64
 7   profit_margins                     294 non-null    float64
 8   operating_margins                  294 non-null    float64
 9   dividend_rate                      294 non-null    float64
 10  beta                               294 non-null    float64
 11  ebitda                             294 non-null    float64
 12  trailing_pe                        294 non-null    float64
 13  forward_pe                         294 non-null    float64
 14  volume                             294 non-null    float64
 15  average_volume                     294 non-null    float64
 16  fifty_two_week_low                 294 non-null    float64
 17  fifty_two_week_high                294 non-null    float64
 18  price_to_sales_trailing_12_months  294 non-null    float64
 19  fifty_day_average                  294 non-null    float64
 20  two_hundred_day_average            294 non-null    float64
 21  trailing_annual_dividend_rate      294 non-null    float64
 22  trailing_annual_dividend_yield     294 non-null    float64
 23  book_value                         294 non-null    float64
 24  price_to_book                      294 non-null    float64
 25  total_cash                         294 non-null    float64
 26  total_cash_per_share               294 non-null    float64
 27  total_debt                         294 non-null    float64
 28  earnings_quarterly_growth          294 non-null    float64
 29  revenue_growth                     294 non-null    float64
 30  gross_margins                      294 non-null    float64
 31  ebitda_margins                     294 non-null    float64
 32  return_on_assets                   294 non-null    float64
 33  return_on_equity                   294 non-null    float64
 34  gross_profits                      294 non-null    float64
 35  earnings_growth_rate               294 non-null    float64
 36  dividend_payout_ratio              294 non-null    float64
 37  roi                                294 non-null    float64
dtypes: float64(34), object(4)
memory usage: 87.4+ KB

In [13]:
df_fundamentals_book.describe()

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/pandas/core/nanops.py:1010: RuntimeWarning:

invalid value encountered in subtract

,market_cap,enterprise_value,total_revenue,profit_margins,operating_margins,dividend_rate,beta,ebitda,trailing_pe,forward_pe,...,earnings_quarterly_growth,revenue_growth,gross_margins,ebitda_margins,return_on_assets,return_on_equity,gross_profits,earnings_growth_rate,dividend_payout_ratio,roi
count,2.940000e+02,2.940000e+02,2.940000e+02,294.000000,294.000000,294.000000,294.000000,2.940000e+02,294.000000,294.000000,...,294.000000,294.000000,294.000000,294.000000,294.000000,294.000000,2.940000e+02,294.000000,2.940000e+02,294.000000
mean,1.869135e+10,3.535831e+10,1.729853e+10,0.680033,0.503119,28.176905,0.745134,3.971969e+09,11.910823,4.750414,...,0.398078,0.044592,0.307689,0.563375,0.049066,0.135420,7.358197e+09,39.807823,inf,1.324275
std,5.596028e+10,1.149822e+11,5.686775e+10,4.988500,4.988302,460.183372,0.424044,2.456841e+10,21.626782,8.153200,...,2.780028,0.436385,0.284962,4.945343,0.106609,0.509169,3.127395e+10,278.002751,NaN,5.387749
min,1.257716e+06,-6.424962e+09,-4.242400e+07,-2.162070,-10.074850,0.000000,-0.190200,-1.011200e+09,0.000000,-10.100000,...,-0.999000,-0.983000,-0.845000,-1.430190,-0.266220,-1.378740,-4.981650e+08,-99.900000,-4.217956e+04,-8.232338
25%,2.869066e+08,6.020334e+08,4.860423e+08,0.008700,0.061560,0.000000,0.464784,6.817000e+06,0.365779,0.000000,...,-0.258000,-0.132000,0.142898,0.023130,0.009405,0.000000,8.080500e+06,-25.800000,-4.711283e+01,0.288785
50%,2.491876e+09,4.374463e+09,2.402965e+09,0.082410,0.145010,0.320000,0.681184,2.592045e+08,6.798892,0.000000,...,0.000000,0.010500,0.270555,0.124250,0.038375,0.094760,6.013135e+08,0.000000,0.000000e+00,0.620829
75%,1.059709e+10,1.974030e+10,1.063468e+10,0.214230,0.250852,1.060000,1.033685,1.805205e+09,12.428194,7.924597,...,0.011500,0.143000,0.457720,0.271060,0.073090,0.183783,3.248308e+09,1.150000,7.024110e+00,1.256823
max,5.134496e+11,9.596094e+11,5.815630e+11,61.683560,63.376170,7891.550000,2.013950,2.910870e+11,220.238100,72.882355,...,27.886000,3.683000,1.000000,63.405792,1.511120,5.296820,3.341000e+11,2788.600000,inf,82.481819

In [18]:
df_fundamentals_book.dividend_payout_ratio

0      1.550000e+05
1      4.764005e+01
2      1.677255e+00
3      0.000000e+00
4      0.000000e+00
           ...
289   -8.970917e+01
290   -1.107143e+02
291    1.548936e+02
292    0.000000e+00
293             inf
Name: dividend_payout_ratio, Length: 294, dtype: float64