# **Data Cleaning Notebook**

This notebook's central mission is to consolidate data cleaning tasks, such as removing columns and rows with missing values, renaming columns to adhere to PEP8 best practices, and more. It's essential to note that the data in question was captured by the "01_data_aquisition.ipynb" notebook. Therefore, it is of paramount importance to ensure that the "01_data_aquisition.ipynb" notebook has been properly executed before running this one.

## **Initial Setup**

This initial setup section is responsible for managing and installing the necessary packages for running the notebook that acquires the data used in the project. It's worth noting that I also provide the requirements.txt file where all the packages are centralized, and it can be executed in a more silent manner.

### Import Libs

In [6]:
import os
import pandas as pd
from pathlib import Path

### Create a file path default

#### Full Data

In [8]:
file_path_raw = str(Path(os.getcwd()).parent/"data/raw")
file_path_cleaned  = str(Path(os.getcwd()).parent/"data/cleaned")

## **Cleaning Data**

* In this section, the data cleaning process is presented, which includes tasks such as filling or removing rows and columns with missing values, renaming, and retaining the necessary columns for the project's execution.

### Fundamentals Data

In [9]:
df_fundamentals_raw = pd.read_csv(file_path_raw + "/fundamentals_raw.csv")
df_fundamentals_raw.head()

,ticker,long_name,sector,industry,market_cap,enterprise_value,total_revenue,profit_margins,operating_margins,net_income,...,total_cash,total_cash_per_share,total_debt,earnings_quarterly_growth,revenue_growth,gross_margins,ebitda_margins,return_on_assets,return_on_equity,gross_profits
0,ABCB4.SA,Banco ABC Brasil S.A.,Financial Services,Banks - Regional,4.265434e+09,1.477339e+10,1.941779e+09,0.41576,0.38826,NaN,...,7.774306e+09,35.162,1.829846e+10,0.001,0.003,0.00000,0.00000,0.01530,0.15680,1.973086e+09
1,AGRO3.SA,BrasilAgro - Companhia Brasileira de Proprieda...,Consumer Defensive,Farm Products,2.466480e+09,2.912933e+09,1.249437e+09,0.21493,0.25031,NaN,...,3.838370e+08,3.885,8.720750e+08,6.801,0.671,0.25252,0.21201,0.03839,0.12170,3.155040e+08
2,RAIL3.SA,Rumo S.A.,Industrials,Railroads,4.228882e+10,5.524305e+10,1.031746e+10,0.07639,0.33544,NaN,...,7.656040e+09,4.132,2.184320e+10,3.935,0.121,0.34493,0.43834,0.04252,0.05163,3.146360e+09
3,ALPA3.SA,Alpargatas S.A.,Consumer Cyclical,Footwear & Accessories,5.309793e+09,6.482982e+09,4.022153e+09,-0.05671,-0.06434,NaN,...,4.142880e+08,0.614,1.550341e+09,NaN,-0.127,0.43246,-0.00005,-0.00910,-0.04153,1.968303e+09
4,ALPA4.SA,Alpargatas S.A.,Consumer Cyclical,Footwear & Accessories,5.350758e+09,6.395236e+09,4.022153e+09,-0.05671,-0.06434,NaN,...,4.142880e+08,0.614,1.550341e+09,NaN,-0.127,0.43246,-0.00005,-0.00910,-0.04153,1.968303e+09

#### Cleaning the columns

In [10]:
df_fundamentals_raw.columns

Index(['ticker', 'long_name', 'sector', 'industry', 'market_cap',
       'enterprise_value', 'total_revenue', 'profit_margins',
       'operating_margins', 'net_income', 'dividend_rate', 'beta', 'ebitda',
       'trailing_pe', 'forward_pe', 'volume', 'average_volume',
       'fifty_two_week_low', 'fifty_two_week_high',
       'price_to_sales_trailing_12_months', 'fifty_day_average',
       'two_hundred_day_average', 'trailing_annual_dividend_rate',
       'trailing_annual_dividend_yield', 'book_value', 'price_to_book',
       'total_cash', 'total_cash_per_share', 'total_debt',
       'earnings_quarterly_growth', 'revenue_growth', 'gross_margins',
       'ebitda_margins', 'return_on_assets', 'return_on_equity',
       'gross_profits'],
      dtype='object')

In [12]:
df_fundamentals_cols = df_fundamentals_raw.drop(columns=["net_income"]).copy()
df_fundamentals_cols

,ticker,long_name,sector,industry,market_cap,enterprise_value,total_revenue,profit_margins,operating_margins,dividend_rate,...,total_cash,total_cash_per_share,total_debt,earnings_quarterly_growth,revenue_growth,gross_margins,ebitda_margins,return_on_assets,return_on_equity,gross_profits
0,ABCB4.SA,Banco ABC Brasil S.A.,Financial Services,Banks - Regional,4.265434e+09,1.477339e+10,1.941779e+09,0.41576,0.38826,1.56,...,7.774306e+09,35.162,1.829846e+10,0.001,0.003,0.00000,0.00000,0.01530,0.15680,1.973086e+09
1,AGRO3.SA,BrasilAgro - Companhia Brasileira de Proprieda...,Consumer Defensive,Farm Products,2.466480e+09,2.912933e+09,1.249437e+09,0.21493,0.25031,3.21,...,3.838370e+08,3.885,8.720750e+08,6.801,0.671,0.25252,0.21201,0.03839,0.12170,3.155040e+08
2,RAIL3.SA,Rumo S.A.,Industrials,Railroads,4.228882e+10,5.524305e+10,1.031746e+10,0.07639,0.33544,0.07,...,7.656040e+09,4.132,2.184320e+10,3.935,0.121,0.34493,0.43834,0.04252,0.05163,3.146360e+09
3,ALPA3.SA,Alpargatas S.A.,Consumer Cyclical,Footwear & Accessories,5.309793e+09,6.482982e+09,4.022153e+09,-0.05671,-0.06434,0.40,...,4.142880e+08,0.614,1.550341e+09,NaN,-0.127,0.43246,-0.00005,-0.00910,-0.04153,1.968303e+09
4,ALPA4.SA,Alpargatas S.A.,Consumer Cyclical,Footwear & Accessories,5.350758e+09,6.395236e+09,4.022153e+09,-0.05671,-0.06434,0.43,...,4.142880e+08,0.614,1.550341e+09,NaN,-0.127,0.43246,-0.00005,-0.00910,-0.04153,1.968303e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377,MOAR3.SA,Monteiro Aranha S.A.,Industrials,Conglomerates,4.888106e+09,4.646195e+09,NaN,0.00000,0.00000,13.47,...,1.125510e+09,91.869,8.835900e+08,NaN,NaN,0.00000,0.00000,-0.00678,0.69316,-1.840000e+05
378,BIDI3.SA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379,VIVA3.SA,Vivara ParticipaÃ§Ãµes S.A.,Consumer Cyclical,Luxury Goods,6.171674e+09,6.587251e+09,1.988458e+09,0.18830,0.22546,0.36,...,2.071274e+08,0.880,7.124596e+08,0.235,0.193,0.69784,0.22723,0.09562,0.22541,1.270208e+09
380,CEAB3.SA,C&A Modas S.A.,Consumer Cyclical,Specialty Retail,1.589094e+09,4.017418e+09,6.239824e+09,0.00470,0.06204,0.51,...,9.653540e+08,3.159,3.454800e+09,1.015,0.008,0.48914,0.08049,0.02635,0.01025,3.041838e+09
381,BMGB4.SA,Banco BMG S.A.,Financial Services,Banks - Regional,1.375972e+09,1.110565e+10,2.034155e+09,0.06339,0.38392,0.17,...,1.052090e+09,1.805,1.074202e+10,NaN,-0.132,0.00000,0.00000,0.00339,0.03484,2.018078e+09

* In the cell above, the "net_income" columns were dropped because all the values were null, and the "Unnamed: 0" column was removed, which appears due to the leading comma (,) in the CSV file when a DataFrame is saved.

#### Cleaning the missing values

In [13]:
df_fundamentals_cols.isna().sum()

ticker                                 0
long_name                             75
sector                                80
industry                              80
market_cap                            76
enterprise_value                      81
total_revenue                         85
profit_margins                        79
operating_margins                     79
dividend_rate                        128
beta                                  84
ebitda                               118
trailing_pe                          149
forward_pe                           229
volume                                76
average_volume                        76
fifty_two_week_low                    76
fifty_two_week_high                   76
price_to_sales_trailing_12_months     85
fifty_day_average                     76
two_hundred_day_average               76
trailing_annual_dividend_rate         78
trailing_annual_dividend_yield        79
book_value                            79
price_to_book                        114
total_cash                            82
total_cash_per_share                  82
total_debt                            80
earnings_quarterly_growth            190
revenue_growth                        90
gross_margins                         79
ebitda_margins                        79
return_on_assets                      82
return_on_equity                     121
gross_profits                        141
dtype: int64

In [15]:
df_fundamentals_missing = df_fundamentals_cols.dropna(subset=['long_name', 'sector', "industry", "market_cap", "enterprise_value", "total_revenue", "profit_margins", "operating_margins", "beta"]).copy()
df_fundamentals_missing.isna().sum()

ticker                                 0
long_name                              0
sector                                 0
industry                               0
market_cap                             0
enterprise_value                       0
total_revenue                          0
profit_margins                         0
operating_margins                      0
dividend_rate                         46
beta                                   0
ebitda                                32
trailing_pe                           69
forward_pe                           144
volume                                 0
average_volume                         0
fifty_two_week_low                     0
fifty_two_week_high                    0
price_to_sales_trailing_12_months      0
fifty_day_average                      0
two_hundred_day_average                0
trailing_annual_dividend_rate          0
trailing_annual_dividend_yield         1
book_value                             0
price_to_book                         32
total_cash                             0
total_cash_per_share                   0
total_debt                             0
earnings_quarterly_growth            105
revenue_growth                         5
gross_margins                          0
ebitda_margins                         0
return_on_assets                       2
return_on_equity                      38
gross_profits                         60
dtype: int64

* In the cell above, all rows containing null values in the columns ('long_name', 'sector', "industry", "market_cap", "enterprise_value", "total_revenue", "profit_margins", "operating_margins", "beta") were removed because it was already known that in the data collection, there were companies that were no longer being traded on the stock exchange or had changed their tickers. Given the importance of these mentioned columns, it is prudent not to accept any null values in these fields, as these values are believed to be of utmost importance for future analysis, and filling them with computed data or any business rule is too risky.

In [17]:
df_fundamentals_missing.fillna(0, inplace=True)
df_fundamentals_missing.isna().sum()

ticker                               0
long_name                            0
sector                               0
industry                             0
market_cap                           0
enterprise_value                     0
total_revenue                        0
profit_margins                       0
operating_margins                    0
dividend_rate                        0
beta                                 0
ebitda                               0
trailing_pe                          0
forward_pe                           0
volume                               0
average_volume                       0
fifty_two_week_low                   0
fifty_two_week_high                  0
price_to_sales_trailing_12_months    0
fifty_day_average                    0
two_hundred_day_average              0
trailing_annual_dividend_rate        0
trailing_annual_dividend_yield       0
book_value                           0
price_to_book                        0
total_cash                           0
total_cash_per_share                 0
total_debt                           0
earnings_quarterly_growth            0
revenue_growth                       0
gross_margins                        0
ebitda_margins                       0
return_on_assets                     0
return_on_equity                     0
gross_profits                        0
dtype: int64

* In the cell above, the rest of the columns with missing values were filled with the number 0. After some analysis, it was understood that these missing values occur because either the company does not engage in the activity of paying dividends, as in the case of the "dividend_rate" field, or the company did not disclose certain results and indicators. It is worth noting that any data manipulation to fill a missing value should be done with great care.

In [18]:
df_fundamentals_cleaned = df_fundamentals_missing.copy()

In [19]:
df_fundamentals_raw.shape

(382, 36)

In [20]:
df_fundamentals_cleaned.shape

(291, 35)

#### Saving files

In [21]:
Path(file_path_cleaned).mkdir(parents=True, exist_ok=True)
df_fundamentals_cleaned.to_csv(file_path_cleaned + "/fundamentals_cleaned.csv", index=False)

### Macroeconomic Data

In [22]:
df_macroeconomic_raw = pd.read_csv(file_path_raw + "/macroeconomic_raw.csv")
df_macroeconomic_raw.head()

         Date  selic  confidence       pib  incc  ipca   dolar
0  2019-01-31    6.5      128.64  578214.5  0.49  3.78  3.6513
1  2019-02-28    6.5      139.39  576089.7  0.09  3.89  3.7379
2  2019-03-31    6.5      125.53  601749.8  0.31  4.58  3.8961
3  2019-04-30    6.5      121.71  612918.4  0.38  4.94  3.9447
4  2019-05-31    6.5      117.01  615304.9  0.03  4.66  3.9401

#### Cleaning the Columns

In [23]:
df_macroeconomic_cols = df_macroeconomic_raw.rename(columns={"Date" : "date"}).copy()
df_macroeconomic_cols.columns

Index(['date', 'selic', 'confidence', 'pib', 'incc', 'ipca', 'dolar'], dtype='object')

#### Cleaning the missing values

In [24]:
df_macroeconomic_cols.isna().sum()

date          0
selic         0
confidence    2
pib           2
incc          2
ipca          2
dolar         0
dtype: int64

In [25]:
df_macroeconomic_missing = df_macroeconomic_cols.dropna().copy()
df_macroeconomic_missing.isna().sum()

date          0
selic         0
confidence    0
pib           0
incc          0
ipca          0
dolar         0
dtype: int64

* In the macroeconomics dataframe, null values were removed because, as known, there is a meeting every 45 days with the Copom for the new definitions of these indices.

In [26]:
df_macroeconomic_cleaned = df_macroeconomic_missing.copy()

In [27]:
df_macroeconomic_raw.shape

(58, 7)

In [28]:
df_macroeconomic_cleaned.shape

(56, 7)

#### Saving files

In [29]:
Path(file_path_cleaned).mkdir(parents=True, exist_ok=True)
df_macroeconomic_cleaned.to_csv(file_path_cleaned + "/macroeconomic_cleaned.csv", index=False)

### Stocks Data

In [30]:
df_stocks_raw = pd.read_csv(file_path_raw + "/stocks_raw.csv")
df_stocks_raw.head()

,Date,ticker,Adj Close,Close,High,Low,Open,Volume
0,2019-01-02,AALR3.SA,13.116831,13.250000,13.500000,13.250000,13.310000,264200.0
1,2019-01-02,ABCB4.SA,13.077144,17.120001,17.200001,16.350000,16.469999,571700.0
2,2019-01-02,ABEV3.SA,13.950425,16.150000,16.299999,15.400000,15.400000,18692900.0
3,2019-01-02,ADHM3.SA,1.243981,1.243981,1.243981,1.235687,1.235687,2170.0
4,2019-01-02,AFLT3.SA,4.572968,5.400000,5.480000,5.400000,5.480000,500.0

#### Cleaning the Columns

In [31]:
df_stocks_cols = df_stocks_raw.rename(columns=lambda col: col.lower().replace(' ', '_')).copy()
df_stocks_cols.columns

Index(['date', 'ticker', 'adj_close', 'close', 'high', 'low', 'open',
       'volume'],
      dtype='object')

#### Clearning the missing values

In [32]:
df_stocks_missing = df_stocks_cols.copy()
df_stocks_missing.isna().sum()

date         0
ticker       0
adj_close    0
close        0
high         0
low          0
open         0
volume       0
dtype: int64

* In the case of stock data, it wasn't necessary to exert much effort because the data came in a clean format, largely due to the care that the Yahoo Finance API gives to this information.

In [33]:
df_stocks_cleaned = df_stocks_missing.copy()

In [34]:
df_stocks_raw.shape

(363820, 8)

In [35]:
df_stocks_cleaned.shape

(363820, 8)

#### Saving files

In [36]:
Path(file_path_cleaned).mkdir(parents=True, exist_ok=True)
df_stocks_cleaned.to_csv(file_path_cleaned + "/stocks_cleaned.csv", index=False)